
body{background-color: #000000;
background: repeating-linear-gradient(
    to right,
    #262626,
    #262626 1px,
    #000000 1px,
    #000000 33.33%
  );}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
  font-family: 'Oswald', sans-serif;
}

.row.slide{
  height:71vh;
}

#why .header{
  font-size: 3rem;
  line-height: 4rem;
}

.header{
  z-index: 2;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  vertical-align:middle;
  color: #ffffff;
  letter-spacing: 1px;
  line-height: 4rem;
}

.numbers{font-family: 'Baskerville Libre';
          font-weight: bold;
        letter-spacing: .1em;}

.whiteout{
  background-color: rgba(255, 255, 255, 0.9);
}

.js-emailcopybtn{background:none; color: #fff; border: none; font-weight: bold;}

.infobar a, .infobar{text-decoration: none; color: #ffffff; font-size: .8rem; font-weight: bold;}
.infobar .info, .green{color:#ceff1a;}

.click-scroll-btn{
      position: absolute;
      top: 75%;
      left: 0;
      width: 100%;
      z-index: 15;
}

.click-scroll-btn .special-btn {

  margin: auto;
  background: transparent;
  border: none;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: .1em;
}

.click-scroll-btn .special-btn img{margin: 0rem 1rem;}

 .outline-header{
  z-index: 1;
  font-size: 10rem;
  color: #000000;
  opacity: .15;
  top: -12vh;
  overflow: hidden;
  text-transform: uppercase;
  text-shadow:-1px -1px 0 #eee, 1px -1px 0 #eee, -1px 1px 0 #eee, 1px 1px 0 #eee;
}

.btn { font-family: 'Lato', sans-serif; font-size: 1.4rem; letter-spacing: .01rem; text-transform: uppercase;}
.btn-primary {padding: 15px; background-color: #fff; border-radius: 30px; color: #000010;}


.portfolio__1{
  min-height: 300px;
  transform-style: preserve-3d;
  background: url(/img/illus_project.jpg) center center;
  background-repeat: no-repeat;
  background-size: cover;}

  .portfolio__2{
    min-height: 300px;
    transform-style: preserve-3d;
    background: url(/img/guns.png) center center;
    background-repeat: no-repeat;
    background-size: cover;}

    .portfolio__3{
      min-height: 300px;
      transform-style: preserve-3d;
      background: url(/img/BW.jpg) center center;
      background-repeat: no-repeat;
      background-size: cover;
    background-color: transparent !important;}

    .portfolio__4{
      min-height: 300px;
      transform-style: preserve-3d;
      background: url(/img/dunmore.jpg) center center;
      background-repeat: no-repeat;
      background-size: cover;}

      .portfolio__5{
        min-height: 300px;
        transform-style: preserve-3d;
        background: url(/img/keeneland.jpg) center center;
        background-repeat: no-repeat;
        background-size: cover;
      background-color: transparent !important;}

  .card-img-overlay{
    top: -35%;
    left: -5%;
  }

  .card {margin: 2rem; z-index: 10;}

  .card-title.info{
    text-decoration: none; color: #ffffff; font-size: .8rem; font-weight: bold;
    transform: translateZ(60px);
  }


  .job-experience{
    text-decoration: none; color: #ffffff; font-size: .8rem;  list-style-type: none;
  }

  .job-experience ul{list-style-type: none;}

  .job-experience div{
    font-size: 1.4rem;
  }

@media (min-width: 768px){
  .header{
    font-size: 5rem;
    line-height: 6rem;
  }

  #why .header{
    font-size: 4rem;
    line-height: 5rem;
  }

  .outline-header{
   z-index: 1;
   font-size: 20rem;
   line-height: 20rem;
   color: #000000;
   opacity: .15;
   text-transform: uppercase;
   text-shadow:-1px -1px 0 #eee, 1px -1px 0 #eee, -1px 1px 0 #eee, 1px 1px 0 #eee;
 }

 .click-scroll-btn{
   top: 70%;
 }

 .row.slide{
   height:75vh;
 }

 .portfolio__2{
   min-height: 700px;
   transform-style: preserve-3d;
   background: url(/img/guns.png) center center;
   background-repeat: no-repeat;
   background-size: cover;}

   .padding-lg{
     padding-bottom: 150px;
   }


}

@media (min-width: 768px){
  .row.slide{
    height:67vh;
  }

}

@media (min-width: 1200px){
  #why .header{
    font-size: 5rem;
    line-height: 6rem;
  }
}
