$font-family-sans-serif: "IBM Plex Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 

.yellow{ color: #FFD233 !important; text-decoration: none !important; }

.yellow-bg{ background-color: #FFD233;}

a.btn-link {color: #FFD233 !important; font-weight: 500;}

footer a { color: #232222 !important;}

%heading, p { color: #FFFBED !important; }

h5 {color: #C2C2C2 !important;}

@import "../node_modules/bootstrap/scss/bootstrap";

body, nav{
    background-color: #232222;
}

.nav-link.active{
    color: $gray-600 !important;
}

.fs-feature {
    font-size: calc(4rem + 0.3vw) !important;
}

.btn-primary { 
    background-color: #FFD233;
    border: 1px solid #FFD233;
    font-weight: 500 !important;
    color: #232222;
 }

 .btn-dark {
    background: transparent;
    border: 1px solid #FFFBED;
    font-weight: 500;
 }

.btn-lg, .btn-md { border-radius: 1.5rem; padding: 12px 24px;}

.transition-sm{
    margin-top: -32px;
}

#lanesend {
    background: linear-gradient(0deg, rgba(35, 34, 34, 0.94), rgba(35, 34, 34, 0.94)), url('../img/honorcode_confirmation_2.gif');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}