@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
$font-headings: 'Poppins', sans-serif; 
$font-body: 'Helvetica', sans-serif;
$white: #FAFAFA;
$green: #1B311E;
$blue125: #00112C;
$blue100: #011638;
$blue75: #0F69FA;
$gray75: #C2C2C2;
$gray100: #262626;
$yellow100: #DAA520;
$yellow125: #C4941C;


.gray {color: #C2C2C2 !important;}
.black {color:#232222 !important;}
.white {color: white;}


%heading { 
    font-family: $font-headings;
    color: $white;
    .outline {
        color: $blue100;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $white;
        @media screen and (min-width: 768px){
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: $white;
        }
    }
}

body{
    font-family: $font-body;
    color: $white !important;
    background-color: $blue100 !important;
}

nav{
    z-index: 999;
    &.scrolled {
        background-color: $blue100;
      }
}

.citation {
    font-family: $font-body;
    font-size: 12px;
}

.yellow-bg{ background-color: $yellow100;}
.yellow{ color: $yellow100 !important; text-decoration: none !important; }
.blue { color: $blue100 !important;}

a {
    color: black;
    font-weight: 500;
    &:hover{
        color: black;
    }
}

li {
    padding-bottom: 1rem;
}

button.text-link{
    background: transparent;
    text-decoration: underline !important;
    border: 0px;
}

footer a { color: #232222 !important;}

.fs-5 {
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: 400;
}


@import "../node_modules/bootstrap/scss/bootstrap";



.nav-link.active{
    color: $yellow100;
}

nav .offcanvas {
    background-color: $blue100;
    .nav-link {
        color: $white;
    }
}

.fs-feature {
    font-size: calc(3rem + 0.3vw) !important;
    line-height: 4rem;
    @media screen and (min-width: 768px){
        font-size: calc(6rem + 0.3vw) !important;
        line-height: 7rem;
    }
}

.btn-primary { 
    background-color: $yellow100;
    border: 1px solid $yellow100;
    font-weight: 500 !important;
    color: $blue100;
    &:hover{
        background-color: $yellow125;
        color: $blue100;
        border: 1px solid $yellow125;
    }
 }


.btn-secondary.light-bg {
    background-color: $yellow100;
    border: 1px solid $blue100;
    font-weight: 500 !important;
    color: $blue100;
    &:hover{
        background-color: $yellow125;
        color: $blue100;
        border: 1px solid $blue100;
    }
}

.btn-secondary.dark-bg {
    background-color: transparent;
    border: 1px solid $yellow100;
    font-weight: 500 !important;
    color: $yellow100;
    &:hover{
        background-color: $blue125;
        color: $yellow100;
        border: 1px solid $yellow125;
    }
}


 .btn-dark {
    background: transparent;
    border: 1px solid #FFFBED;
    font-weight: 500;
 }



.btn-lg, .btn-md { border-radius: 1.5rem; padding: 12px 16px;}

.badge.badge-primary { color:#232222; background-color: #FFD233; border: 1px solid #D8A800; border-radius: 4px;}

.iframe-card { 
    border-radius: 1rem; 
    -webkit-box-shadow: 0px 5px 16px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 16px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 16px -2px rgba(0,0,0,0.75);
}

.transition-sm{
    margin-top: -40px;
}

.transition-md{
    margin-top: -80px;
}

.canlayout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.card {
    &:hover{
        margin: 2rem;
    }
}

#hero{
    min-height: 80vh;
}

#hero.bg-image{
    background: linear-gradient(0deg, rgba(1, 22, 56, 1), rgba(1, 22, 56, 0.9)), url(../img/NPS/Teton.jpg);
    -webkit-background-size: cover;
    background-blend-mode: multiply;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 600px;
}

#lanesend {
    background: linear-gradient(0deg, rgba(1, 22, 56, 1), rgba(1, 22, 56, 0.94)), url('../img/honorcode_confirmation_2.gif');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 600px;
}

#ipa {
    background: url('../img/ipa-background.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 600px;
}

#cider {
    background: url('../img/HardCider_BG.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 600px;
}


.material-symbols-sharp {
  color: #FFFBED;
  font-size: 48px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-rounded {
    font-size: 2rem;
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 48
  }

.material-symbols-sharp.small {
    font-size: 24px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

  .material-symbols-rounded.small {
    font-size: 1.5rem;
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 48
  }

  .iframe-container{
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
  }

  .iframe-container iframe{
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

#about{
    color: $blue100;
}

.about-history {
    margin-top: 6rem;
}

.about-row>* {
    flex: 1;
    margin-right: 2.4rem;
}

.about-row {
    border-bottom: 1px solid $blue100;
    padding-bottom: .125rem;
    margin-bottom: 1rem;
    flex-wrap: wrap!important;
    flex-direction: column;
    @media  screen and (min-width: 768px) {
        flex-direction: row;
    }
}

.about-item-end {
    margin-right: 0px;
    text-align: right;
    flex-wrap: wrap!important;
}



.work_title{
    border-bottom:  1px solid $blue100;
}

.work_item {
    min-height: 300px;
    border-right: 0px;
    border-bottom: 1px solid $blue100;
    text-decoration: none;
    h4, a, span, p{
        color: $blue100 !important;
        text-decoration: none !important;
    }
    @media screen and (min-width: 992px){
        border-right: 1px solid $blue100;
    }
    &:hover{
        background-color: $blue100;
        h4, a, span, p {
            color: $yellow100 !important;
            text-decoration: none !important;
        }
    }
}

.work_item.work_item_end {
    border-right: 0px;
    border-bottom: 1px solid $blue100;
}


footer .nav-link, .text-link{
    color: $yellow100 !important;
}

html.sr .load-hidden {
    visibility: hidden;
}

.dropdown-menu{
    background-color: $yellow100;
    color: $blue100;
    li {
        border-bottom: 1px solid $blue100;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    li:last-child{
        border-bottom: 0px;
    }
}

.dropdown-menu.show{
    transform: translate3d(0px, 48px, 0px) !important;
}

.desktop-timeline{
    height: 480px;
    overflow-y: scroll;
    img {
        height: 100%;
    }
}

.timeline {
    background-color: $blue125;
}